
#ship-ani{
    position: relative;
    
    #ship {
        position: absolute;
        z-index: 0;
        width: 100%;
        // opacity: 0;
        transform: translate(50%, 50%);
        left: 0%;
    }
}